USE [WEBBG]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 23/07/2021 8:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MADH] [int] NOT NULL,
	[MASP] [int] NOT NULL,
	[SL] [int] NULL,
	[DONGIA] [decimal](18, 0) NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 23/07/2021 8:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MADH] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](100) NULL,
	[TINHTRANGGIAOHANG] [bit] NULL,
	[NGAYDAT] [datetime] NULL,
	[NGAYGIAO] [datetime] NULL,
	[MAKH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 23/07/2021 8:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[EMAIL] [varchar](50) NULL,
	[DIENTHOAIKH] [varchar](50) NULL,
	[DIACHI] [varchar](50) NULL,
	[TAIKHOAN] [varchar](50) NULL,
	[MATKHAU] [varchar](50) NOT NULL,
 CONSTRAINT [PK__KHACHHAN__603F592C30F4003A] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIENHE]    Script Date: 23/07/2021 8:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIENHE](
	[MALIENHE] [int] NOT NULL,
	[HOTEN] [nvarchar](100) NULL,
	[EMAIL] [varchar](100) NULL,
	[CHUDE] [nvarchar](100) NULL,
	[NOIDUNG] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALIENHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 23/07/2021 8:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NCC]    Script Date: 23/07/2021 8:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCC](
	[MANCC] [int] IDENTITY(1,1) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[DIENTHOAI] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 23/07/2021 8:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [int] IDENTITY(1,1) NOT NULL,
	[TENSP] [nvarchar](100) NULL,
	[GIABAN] [decimal](18, 0) NULL,
	[ANHBIA] [varchar](50) NULL,
	[MOTA] [nvarchar](max) NULL,
	[NGAYSANXUAT] [datetime] NULL,
	[NOISANXUAT] [nvarchar](50) NULL,
	[SL] [int] NULL,
	[MALOAI] [int] NULL,
	[MANCC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 23/07/2021 8:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENTAIKHOAN] [varchar](100) NOT NULL,
	[MATKHAU] [varchar](50) NULL,
 CONSTRAINT [PK__TAIKHOAN__3214EC2746F5667F] PRIMARY KEY CLUSTERED 
(
	[TENTAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINTUC]    Script Date: 23/07/2021 8:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINTUC](
	[MATINTUC] [int] NOT NULL,
	[TIEUDE] [nvarchar](100) NULL,
	[NOIDUNG] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATINTUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DONDATHANG] ON 

INSERT [dbo].[DONDATHANG] ([MADH], [HOTEN], [TINHTRANGGIAOHANG], [NGAYDAT], [NGAYGIAO], [MAKH]) VALUES (2, N'MINH DAN', 1, CAST(N'2020-12-20T00:00:00.000' AS DateTime), CAST(N'2021-12-20T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[DONDATHANG] ([MADH], [HOTEN], [TINHTRANGGIAOHANG], [NGAYDAT], [NGAYGIAO], [MAKH]) VALUES (3, N'MINH DAN', 0, CAST(N'2020-12-20T00:00:00.000' AS DateTime), CAST(N'2021-12-20T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[DONDATHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [EMAIL], [DIENTHOAIKH], [DIACHI], [TAIKHOAN], [MATKHAU]) VALUES (1, N'MINH DAN', N'zzeroz0000@gmail.com', N'090909', N'Q9', N'zzeroz0000', N'12345678')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [EMAIL], [DIENTHOAIKH], [DIACHI], [TAIKHOAN], [MATKHAU]) VALUES (2, N'TrucGiang', N'doangiang2002@gmail', N'', NULL, NULL, N'giang2002')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [EMAIL], [DIENTHOAIKH], [DIACHI], [TAIKHOAN], [MATKHAU]) VALUES (3, N'TrucGiang', N'doangiang2002@gmail', N'01822333', NULL, N'trucgiang', N'giang2002')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAISP] ON 

INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (1, N'NIKE')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (2, N'VANS')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (3, N'REEBOK')
SET IDENTITY_INSERT [dbo].[LOAISP] OFF
GO
SET IDENTITY_INSERT [dbo].[NCC] ON 

INSERT [dbo].[NCC] ([MANCC], [TENNCC], [DIACHI], [DIENTHOAI]) VALUES (1, N'NIKE', N'USA', N'09090909')
INSERT [dbo].[NCC] ([MANCC], [TENNCC], [DIACHI], [DIENTHOAI]) VALUES (2, N'VANS', N'UK', NULL)
INSERT [dbo].[NCC] ([MANCC], [TENNCC], [DIACHI], [DIENTHOAI]) VALUES (3, N'REEBOK', N'VN', NULL)
SET IDENTITY_INSERT [dbo].[NCC] OFF
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIABAN], [ANHBIA], [MOTA], [NGAYSANXUAT], [NOISANXUAT], [SL], [MALOAI], [MANCC]) VALUES (3, N'NIKE AIR MAX 90', CAST(20000 AS Decimal(18, 0)), N'sp7.jpg', N'DEP', CAST(N'2000-12-26T00:00:00.000' AS DateTime), N'USA', 100, 1, 1)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIABAN], [ANHBIA], [MOTA], [NGAYSANXUAT], [NOISANXUAT], [SL], [MALOAI], [MANCC]) VALUES (4, N'ADIDAS YEEZY', CAST(30000 AS Decimal(18, 0)), N'sp12.jpg', N'DEP', CAST(N'2000-12-27T00:00:00.000' AS DateTime), N'VN', 50, 4, 4)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIABAN], [ANHBIA], [MOTA], [NGAYSANXUAT], [NOISANXUAT], [SL], [MALOAI], [MANCC]) VALUES (5, N'ADIDAS ULTRA BOOST', CAST(25000 AS Decimal(18, 0)), N'sp9.jpg', N'DEP', CAST(N'2000-12-27T00:00:00.000' AS DateTime), N'USA', 100, 4, 4)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_DONDATHANG] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONDATHANG] ([MADH])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_DONDATHANG]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_SANPHAM]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISP] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISP] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NCC] ([MANCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NCC]
GO
