
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="container my-4">
    <h3 class="text-center" style="color:red;">TIN TỨC</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="~/Public/img/tt1.jpg" class="card-img-top" alt="Thời Trang Ấn Tượng Của Các sao nam" style="height:200px;">
                <div class="card-body">
                    <a href="https://www.elleman.vn/phong-cach/thoi-trang-sao-nam-thang-6-2021-3" target="_blank" class="card-title"style="font-size:25px;text-decoration:none; color:black;font-weight:bold;">
                        Thời trang ấn tượng của sao tuần 3 tháng 6/2021
                    </a>
                    <p class="card-text">
                        Danh sách thời trang sao nam mặc đẹp tuần qua gọi tên những gam màu hot nhất mùa Hè 2021 thông qua bản phối của Kelbin Lei, 
                        Matthew Zopas, Richard Biedul.

                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Public/img/tt2.jpeg" class="card-img-top" alt="Thời Trang" style="height:200px;">
                <div class="card-body">
                    <a href="https://www.elleman.vn/thoi-trang/toc-nam-dep-mua-he" target="_blank" class="card-title" style="font-size:25px;text-decoration:none; color:black;font-weight:bold;">
                       7 kiểu tóc nam đẹp và thoải mái cho ngày Hè
                    </a>
                    <p class="card-text">
                        Xu hướng tóc tai luôn là mối quan tâm của tất cả các chàng trai, và trong thời tiết nóng bức cũng như đề cao tính cơ động thì 
                        những kiểu tóc nam đẹp ngắn gọn và gọn gàng là ưu tiên hàng đầu.

                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Public/img/tt3.jpg" class="card-img-top" alt="..." style="height:200px;">
                <div class="card-body">
                    <a href="https://www.elleman.vn/phong-cach/thoi-trang-sao-nam-thang-6-2021-2"target="_blank" class="card-title"style="font-size:25px;text-decoration:none; color:black;font-weight:bold;">
                        Thời trang ấn tượng của sao tuần 2 tháng 6/2021
                    </a>
                    <p class="card-text">
                        Trong những ngôi sao có phong cách ăn mặc ấn tượng nhất tuần qua, Nam Phùng, Jay Chou và Wisdom Kaye đem đến gợi ý mix & match 
                        rộn rã sắc màu. 

                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Public/img/tt4.jpeg" class="card-img-top" alt="..." style="height:200px;">
                <div class="card-body">
                    <a href="https://www.elleman.vn/phong-cach/phong-cach-bosozoku"target="_blank" class="card-title"style="font-size:25px;text-decoration:none; color:black;font-weight:bold;">
                        Phong cách thời trang Bosozoku – Nét văn hoá “dân tổ” Nhật Bản
                    </a>
                    <p class="card-text">
                        “Bosozoku” ban đầu không mang ý nghĩa thời trang mà dùng để mô tả nền văn hoá xe phân khối lớn tại Nhật Bản; dịch sát nghĩa là 
                        “Hội nhóm xe motor” 

                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Public/img/tt5.jpeg" class="card-img-top" alt="..."style="height:200px;">
                <div class="card-body">
                    <a href="https://www.elleman.vn/phong-cach/ferrari-bst-thoi-trang-cao-cap" target="_blank" class="card-title"style="font-size:25px;text-decoration:none; color:black;font-weight:bold;">
                        Ferrari lấn sân địa hạt thời trang với BST cao cấp đầu tiên
                    </a>
                    <p class="card-text">
                        Ferrari đã xây dựng hệ giá trị của mình từ những ngày đầu tiên, trước cả khi những chiếc xe được sản xuất. Các giá trị ấy 
                        gắn bó, in dấu trong từng sản phẩm ra đời mang nhiều phong cách khác nhau trong mỗi BST 

                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Public/img/tt6.jpg" class="card-img-top" alt="..." style="height:200px;">
                <div class="card-body">
                    <a href="https://spa.vn/spa-magazine/elle-man-style-calendar-goi-y-tips-phoi-do-cho-nguoi-mang-tho/29319/" target="_blank" class="card-title"style="font-size:25px;text-decoration:none; color:black;font-weight:bold;">
                        ELLE Man Style Calendar: Gợi ý tips phối đồ cho người mạng Thổ
                    </a>
                    <p class="card-text">
                        Mạng Thổ tượng trưng cho đất, nằm tại trung tâm Ngũ Hành và đại diện cho sự nuôi dưỡng, bình an và kiên định. 
                        Trang phục cho nam giới mạng Thổ rất

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
