
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="container my-3">
    <h3 class="text-center" style="color:red;">GIỚI THIỆU</h3>
    <p>
        Ra đời vào cuối năm 2011 là một sản phẩm của Fly Web, Fly Shoes đã sớm có một vị trí vững chắc trên thị trường thương mại điện tử trong nước.
        Trở thành shop mua sắm hàng thời trang online đầy tin cậy, tiện lợi cho khách hàng trên toàn quốc.
        Fly Shoes phục vụ nhu cầu mua sắm trực tuyến bất cứ khi nào khách hàng có nhu cầu mua sắm giày thời trang online chất lượng giá rẻ đẹp
    </p>
    <div class="container text-center">
        <img src="~/Public/img/gt1.jpg" style="text-align:center; width:500px; height:500px;" />
    </div>
    <p>
        <br /> Mua sắm thời trang là nhu cầu thiết yếu của cả phái mạnh và phái đẹp. Thấu hiểu điều này, Fly Shoes mang đến cho bạn nhiều bộ sưu tập thời trang
        2021 hot nhất từ các thương hiệu trong và ngoài nước. Bên cạnh đó, thời trang cao cấp Hàn Quốc từ các nhãn hàng thời trang nổi tiếng cũng là một thế
        mạnh của cửa hàng mua sắm thời trang online hàng đầu này. Ngoài ra, Fly Shoes cũng sẽ gợi ý cho bạn những món quà thật ý nghĩa để tặng người thân,
        bạn bè. Chúng tôi sẽ làm bạn hài lòng với sự lựa chọn của mình bằng giá tốt nhất và chất lượng dịch vụ hoàn hảo. Mua hàng trực tuyến giá rẻ chưa bao
        giờ dễ dàng đến thế với Fly Shoes.
    </p>
    <div class="container text-center">

        <img src="~/Public/img/gt2.jpg" style="text-align:center; width:500px; height:500px;" />
    </div>
        <p>
            <br /> Bạn có thể thoải mái mua sắm tại Delta Shoes. Đa dạng mẫu mã, chủng loại và giá cả, bạn sẽ có nhiều lựa chọn cho phong cách thời trang của riêng mình.
            Đừng bỏ lỡ những đợt giảm giá khủng của chúng tôi để sắm cho mình những deal hot nhất mùa này.
            Fly Shoes giao hàng tận nơi trên khắp cả nước
            Thanh toán khi nhận hàng, 7 ngày đổi trả nếu không hài lòng về sản phẩm cùng với chất lượng dịch vụ nhanh, an toàn nhất được chứng nhận bởi nhiều
            cơ quan và tổ chức có uy tín trong và ngoài nước.
        </p>
        <div class="container text-center">

            <img src="~/Public/img/gt3.jpg" style="text-align:center; width:500px; height:500px;" />
        </div>


        </div>
